.nav{
    height: 60px;
    box-shadow: 0 2px 3px rgb(172, 172, 172);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    ul{
        display: flex;
        width: 100%;
        list-style-type: none;
    }

    li{
        margin: 0 10px;
    }
}